

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/*CSS FOR MAP*/

/***Equipment tab START */
.banner
{
    background-color: #eee;
    padding-left:2em;
}

.content
{
    padding-left: 2em;
    margin: 1em 1em;
}

.list-group-small
{
    width:35%;
}

.buffer {
    padding-left: 20px;
}

/***Equipment tab END */
















